.container {
  max-width: 1292px;
  margin: 0 auto;
  padding: 2rem; 
  z-index: 2; 
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 25px;
  }
}

.areaImages {
  position: relative;
  top: -100px;
  right: 0;
}

.Uorange {
  img {
    height: 575px;
    width: 700px;
    position: absolute;
    top: -15px;
    right: -330px;
    z-index: -1;
  }
}

.kiwi {
  img {
    height: 350px;
    width: 600px;
    position: absolute;
    top: 120px;
    right: -245px;
  }
}

.containerSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 900px;
  margin: 20px auto 0 auto;
  padding: 2rem 6rem;
  border-radius: 50px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, .221);
  background-color: var(--white);

  h3 {
    font-size: 1.4rem;
  }

  div {
    width: 55%;

    select {
      width: 100%;
      height: 2rem;
      padding: 0 1rem;
      border: none;
      border-radius: 15px;
      box-shadow: 2px 3px 6px rgba(0, 0, 0, .221);
      background-color: var(--white);
  
      &:focus-visible {
        outline: 2px solid var(--orange-300);
      }
    }
  }
}

.containerGoal {
  position: relative;
  max-width: 900px;
  height: 672px;
  background-color: var(--white);
  border-radius: 50px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.221);
  margin: 20px auto 0 auto;
  padding: 2rem 6rem; 

  display: flex;
  justify-content: space-between;
  align-items: center;

  > img {
    position: absolute;
    z-index: -1;
    
    &:first-child {
      width: 470px;
      height: 705px;
      left: -410px;
      top: -70px;
    }

    &:nth-of-type(2) {
      right: -330px;
      top: 190px;
      height: 240px;
      width: 200px;
    }

    &:nth-of-type(3) {
      right: -250px;
      top: 380px;
      height: 250px;
      width: 200px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 103px;
    background-color: var(--orange-300);
    border-radius: 50px 50px 0 0;
    box-shadow: 2px 3 6px rgba(0, 0, 0, 0.221);
  }

  h3 {
    font-size: 1.4rem;
    margin-top: -100px;
  }

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    z-index: 2;

     div {
      div {
        margin-bottom: 10px;
      }
    }
  }
}

.containerRestriction {
  max-width: 900px;
  height: 460px;
  background-color: var(--white);
  border-radius: 50px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.221);
  margin: 20px auto 0 auto;
  padding: 2rem 6rem; 

  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 1.4rem;
    margin-top: 10px;
  }

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 60%;

    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
    }
  }
}

.inputPersonalRestriction {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;

  p {
    font-weight: 800;
    text-align: left;
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.221);
    background-color: var(--white);
    border: 2px solid var(--white);

    &:hover {
      border: 2px solid var(--orange-300);
    }

    input {
      width: 100%;
      height: 2rem;
      padding: 0 1.2rem;
      border: 0;
      border-radius: 50px;
      outline: none;
      background: none;
            
      &::placeholder {
        color: #777;
      }
    }
  }
}

.infoDiet {
  width: 900px;
  height: 258px;
  background-color: var(--white);
  border-radius: 50px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.221);
  margin: 20px auto 0 auto;
  padding: 2rem 6rem; 
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 1.4rem;
    margin-top: 10px;
  }

  > div {
    width: 60%;
    z-index: 2;

    div {
      width: 285px;
      height: 42px;
      margin-bottom: 15px;
      padding-left: 30px;
      font-size: 16px;

      justify-content: flex-start;
    }
  }

  select {
    width: 284px;
    height: 2rem;
    padding: 0 2rem;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, .221);
    background-color: var(--white);

    &:focus-visible {
      outline: 2px solid var(--orange-300);
    }
  } 
  
  input:last-child {
    width: 284px;
    height: 2rem;
    padding: 0 2.2rem;
    margin-top: 15px;
    border: 0;
    border-radius: 15px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, .221);

    &:focus-visible {
      outline: 2px solid var(--orange-300);
    }

    &::placeholder {
      color: #777;
    }
  }

  img {
    position: absolute;
    right: 95px;
    top: 85px;
    z-index: 1;
  }
}

.subumit {
  width: 900px;
  height: 244px;
  background-color: var(--white);
  border-radius: 50px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.221);
  margin: 20px auto 0 auto;
  padding: 2rem 6rem; 
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 2rem;
    margin: 20px 0;
  }
}

.areaPlans {
  position: relative;
  
  > div {
    > section {
      position: relative;
      z-index: 2;
    }

    > img {
      width: 350px;
      height: 350px;
      z-index: 0;
      position: absolute;
      top: 285px;

      &:first-child {
        left: -150px;
      }

      &:last-child {
        left: 1000px;
      }
    }
  }

  img {
    width: 2100px;
    height: 750px;
    position: absolute;
    top: -220px;
    left: -435px;
    z-index: -1;
  }
}

.footer {
  margin: 0 auto;
  
  > footer {
    margin-top: -50px; 
  }

  > div {
    width: 2000px;
    height: 60px;
    background-color: var(--white);
    position: relative;
    top: -270px;
    left: -400px;
  }
}